.container::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
.container::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 10px;
}
.container::-webkit-scrollbar-track {
  display: none;
}

.sk::-webkit-scrollbar {
  display: none;
  height: 10px;
  background-color: transparent;
}
.sk::-webkit-scrollbar-thumb {
  display: none;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.sk::-webkit-scrollbar-track {
  display: none;
}

.section {
  width: 100%;
  position: relative;
}

.inView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 20px 30px 45px;
  min-height: 330px;

  .card {
    display: block;
  }

  &.sk {
    .card {
      display: none;
    }
  }
}

.fadein {
  animation: fadeinloading 2s;
  animation-fill-mode: forwards;
}

.fadeout {
  animation: fadeoutloading 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeinloading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeoutloading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
