.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 3%;

  @media all and (max-width: 1024px) {
    //브라우저 창 width보다 작아지는 순간부터 적용
    gap: 20px 2%;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
}
