// .card {
//   //   width: 17.6%;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 150px;
//   transition: 0.5s;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//   border: 1px solid #e3e3e3;
//   border-radius: 8px;
//   overflow: hidden;

//   //   @media all and (max-width: 768px) {
//   //     //브라우저 창 width보다 작아지는 순간부터 적용
//   //     width: 23.5%;
//   //   }

//   //   @media all and (max-width: 480px) {
//   //     //브라우저 창 width보다 작아지는 순간부터 적용
//   //     width: 32%;
//   //   }

//   &:hover {
//     transform: scale(1.05);
//   }

//   .imgWrapper {
//     width: 100%;
//     aspect-ratio: 2 / 3;
//     position: relative;

//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   .content {
//     padding: 0px 12px 12px;
//     width: 100%;
//     margin-top: 10px;

//     .title {
//       font-weight: 700;
//       word-break: break-all;
//       white-space: pre-wrap;
//       margin-bottom: 6px;
//       //   overflow: hidden;
//       //   text-overflow: ellipsis;
//       //   white-space: nowrap;

//       @media all and (max-width: 480px) {
//         //브라우저 창 width보다 작아지는 순간부터 적용
//         font-size: 14px;
//       }
//     }

//     .known {
//       font-size: 14px;
//       font-weight: 400;
//       margin: 0;
//       padding: 0;
//       color: #9a9797;

//       @media all and (max-width: 480px) {
//         //브라우저 창 width보다 작아지는 순간부터 적용
//         font-size: 12px;
//       }
//     }
//   }
// }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  transition: 0.5s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  border-radius: 8px;

  &:hover {
    transform: scale(1.05);
  }

  .imgWrapper {
    width: 150px;
    height: 225px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
    }
  }

  .content {
    // padding: 35px 12px 0;
    padding: 0px 12px 12px;
    width: 100%;
    margin-top: 10px;
    // color: #fff;

    .title {
      font-weight: 700;
      word-break: break-all;
      white-space: pre-wrap;
      margin-bottom: 6px;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
    }

    .known {
      font-size: 16px;
      margin: 0;
      padding: 0;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}
