.section1 {
  width: 100%;
  // background: linear-gradient(45deg, #24ad8d, #85b5aa);
  background: linear-gradient(45deg, #1cceb5, #8dc5b8);
  // background-color: antiquewhite;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  .titleWrapper {
    padding: 60px 30px;
    width: 100%;

    .title {
      margin-bottom: 40px;
      .t1 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
      }
      .t2 {
        font-size: 2em;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
