.container {
  width: 100%;
  padding: 20px;
  border: 1px solid red;
  // min-height: 640px;

  .title {
    font-size: 25px;
    color: #424242;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .bottom {
    display: flex;
    gap: 30px;
    min-height: 546px;

    .content {
      // width: 78%;
      flex-grow: 1;
      border: 1px solid green;
    }
  }
}
