.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9ecf1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
  border-radius: 8px;
  margin-top: 45px;

  @media all and (max-width: 585px) {
    margin-top: 35px;
    padding: 30px 15px;
  }

  .logo {
    // color: #1cceb5;
    color: #424242;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 12px;

    input {
      display: inline-block;
      width: 100%;
      padding: 15px 10px;
      outline: none;
      border-radius: 4px;
      border: 1px solid #8491a7;
      font-size: 16px;

      // &:focus {
      //   box-shadow: 0 0 0 2px rgb(28 206 181 / 20%);
      //   border-color: rgb(28, 206, 181);
      // }
    }

    .errorLabel {
      border: 2px solid rgb(238, 138, 138);
    }
  }

  .error {
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .btnLogin {
    width: 100%;
    font-weight: 600;

    button {
      width: 100%;
      padding: 15px 120px;
      display: inline-block;
      outline: none;
      border: none;
      color: #fff;
      background-color: #1cceb5;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .tagline {
    font-size: 14px;
    font-weight: normal;
    margin: 30px 0;
    color: #5c667b;

    &::before {
      width: 60px;
      height: 1px;
      background-color: #c7c8cc;
      display: inline-block;
      vertical-align: super;
      margin-right: 8px;
      content: "";
    }

    &::after {
      width: 60px;
      height: 1px;
      background-color: #c7c8cc;
      display: inline-block;
      vertical-align: super;
      margin-left: 8px;
      content: "";
    }
  }

  .signup {
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
    color: #424242;

    &:hover {
      font-weight: 600;
    }
  }

  .socialWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    .svgWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;

      &.google {
        border: 1px solid #e7eaed;
        padding: 5px;
        svg {
          width: 30px;
          height: 30px;
        }
      }

      &.kakao {
        background-color: #fee501;
        padding: 8px;
        svg {
          width: 25px;
          height: 25px;
        }
      }

      svg {
        width: 38px;
        height: 38px;
      }
    }
  }
}
